body {
	background-color: #00aced;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
	color: white;
	text-align: center;
}

h2.quote {
	margin-top: 200px;
}

h3.author {
	margin-bottom: 100px;
}

/*h2, h3 {
	color
	text-align: center;
}
*/
a.tweet {
	color: white;
	padding: 10px 46px;
	display: block;
	text-align: center;
	text-decoration: none;
}

button.trigger {
	margin: 20px;
	padding: 12px 30px;
	border: 1px solid white;
	background-color: #00aced;
	cursor: pointer;
	color: white;
	text-transform: uppercase;
	margin: 0 auto;
	display: block;
	outline: none;
}

button.trigger:hover {
	color: #00aced;
	background-color: white;
	transition: 0.8s;
}

button.tweet {
	/*padding: 5px 5px;*/
	/*margin: 20px;*/
	border: 1px solid white;
	background-color: #00aced;
	cursor: pointer;
	color: white;
	text-transform: uppercase;
	margin: 20px auto;
	display: block;
	outline: none;
}

button.tweet:hover {
	color: #00aced;
	background-color: white;
	transition: 0.8s;
}

button.tweet:hover i, button.tweet:hover a {
	color: #00aced ;
}

/*a.tweet {
	margin: 10px 40px;
}
*/

/*p {
	text-align: center;
}*/