* {
	box-sizing: border-box;
}

body {
	background-color: lightgrey;
	font-family: 'Open Sans', sans-serif;
}

h1, h2 {
	color: grey;
	text-align: center;
	margin-top: 100px;
}

div.search-block {
	text-align: center;
}

button#search {
	margin: 20px;
	padding: 10px 20px;
	border: 2px solid white;
	background-color: grey;
	cursor: pointer;
	color: white;
	text-transform: uppercase;
	margin: 0 auto;
	display: inline-block;
	outline: none;
	width: 200px;
}

button#search:hover {
	background-color: lightgrey;
}

input#country-name {
	display: inline-block;
	/*font-size: 13;*/
	text-transform: uppercase;
	padding: 10px 20px;
	outline: none;
}

ul#countries {
	text-align: center;
	margin: 0 auto;
	margin: 0;
	padding: 0;
	font-size: 18px;
}

div#flag {
	
}

div#flag > img {
	display: block;
	margin: auto;
	width: 80px;
}





/*button.trigger {
	margin: 20px;
	padding: 12px 30px;
	border: 1px solid white;
	background-color: #00aced;
	cursor: pointer;
	color: white;
	text-transform: uppercase;
	margin: 0 auto;
	display: block;
	outline: none;
}

button.trigger:hover {
	color: #00aced;
	background-color: white;
	transition: 0.8s;
}

button.tweet {
	padding: 5px 5px;
	border: 1px solid white;
	background-color: #00aced;
	cursor: pointer;
	color: white;
	text-transform: uppercase;
	margin: 20px auto;
	display: block;
	outline: none;
}

button.tweet:hover {
	color: #00aced;
	background-color: white;
	transition: 0.8s;
}

button.tweet:hover i, button.tweet:hover a {
	color: #00aced ;
}
*/